name: Core

on:
  - push
  - pull_request

defaults:
  run:
    working-directory: ./packages/core

jobs:
  types:
    name: Check Types
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6.0.0
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.24.0
          run_install: false
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.11.1
          cache: "pnpm"

      - run: pnpm install
      - run: pnpm types

  lint:
    name: Check Linting
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6.0.0
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.24.0
          run_install: false
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.11.1
          cache: "pnpm"

      - run: pnpm install
      - run: pnpm lint

  test:
    name: Test
    runs-on: ubuntu-24.04
    needs:
      - types
      - lint

    steps:
      - uses: actions/checkout@v6.0.0
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.24.0
          run_install: false
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.11.1
          cache: "pnpm"

      - run: pnpm install
      - run: pnpm test

  build:
    name: Build
    runs-on: ubuntu-24.04
    needs:
      - test

    steps:
      - uses: actions/checkout@v6.0.0
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.24.0
          run_install: false
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.11.1
          cache: "pnpm"

      - run: pnpm install
      - run: pnpm build
