name: Publish to NPM

on:
  release:
    types:
      - published

jobs:
  core:
    name: Core
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      id-token: write

    defaults:
      run:
        working-directory: packages/core

    steps:
      - uses: actions/checkout@v5.0.0
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.19.0
          run_install: false

      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.10.0
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - run: pnpm install
      - run: pnpm build
      - run: pnpm publish --provenance --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
